@charset "UTF-8";

@media screen and (max-width:700px){
/* head영역 */
#headerTop h1.logo{position: relative; top:10px; left:140px;}
#headerTop h1.logo img{width:196px;height:50px;}
#headerTop{width: 100%;}
#headerTop .toggle, #headerTop .toggle2{display: block; cursor:pointer;}
#main_menu {display:none;}

/* slider영역 */
.sliderWrap li.slider1st,
.sliderWrap li.slider2st,
.sliderWrap li.slider3st{ width: 100%; height: 550px;background-position: center 300px;
  background-size:contain;}
.sliderWrap .slider_text {position: absolute; top:90px;
left:50% ;  width:310px; height:170px; padding: 20px;}
.sliderWrap .slider_text h3{font-size:22px; margin-bottom: 3px;}
.sliderWrap .slider_text .p1 {color:#EE9510; text-shadow:none; font-size:16px;margin-bottom: 3px;}
.sliderWrap .slider_text .p2 {font-size:12px;}
.prev-btn, .next-btn {position: absolute; top:200px; cursor:pointer;
width: 50px; height: 50px;}
.prev-btn img, .next-btn img{width: 100%;}
.bx-wrapper .bx-pager {bottom:40px;}
.prev-btn {left:60px;}
.next-btn {right:57px;}


/* content영역 */
  .content .contList{width: 100%;}
  .content .contList>li {width: 50%; height: 310px !important; order:11}
  .content .contList>li:nth-child(1){display:none;}

  .content .contList>li:nth-child(2),
  .content .contList>li:nth-child(3) {padding:20px;background: skyblue;}
  .content .contList>li:nth-child(2) img,
  .content .contList>li:nth-child(3) img{width: 100%}

/* 글자 입력하는법 */
  .content .contList>li:nth-child(4){display:none;}
  .content .contList>li:nth-child(5){display:none;}
  .content .contList>li:nth-child(6){display:none;}
  .content .contList>li:nth-child(7){display:none;}

  .new {display: none;}

.blog .blog1 {width: 100%; position: relative; background: #F5EEDB;}
.blog .blog1 a{padding: 20px;}
.blog .blog1 img{}
.blog .blog1 li a:nth-child(1),
.blog .blog1 li a:nth-child(2) {display: none;}
.blog1 h4 {margin-bottom: 30px;}
.blog1 p {display: none;}
.blog1 .more {display: block; position: absolute; top:12%;right:5%;}

/* 이미지 크기 어떻게 하는지 */

/* container */
.container {width: 100%; background:green;position: relative;
background: url(../images/brand_img.png) no-repeat center;
  background-size:contain ;color:#fff; height: 600px;}
.container .section li{display: none;}
.container .section .h3 {display: block;position: absolute; top:40%; left:35%;}












}
