@charset "utf-8";

/* head영역 */
#head {background:#fff; width: 100%; height:90px; position: fixed; z-index:1}
#headerTop{width: 1240px; position:fixed;z-index:9999;
left: 50%; top:0px; transform:translateX(-50%); background: #fff;} /* 가운데 정렬 */

#headerTop h1.logo{float: left; width:100px; line-height: 50px;}
#headerTop #main_menu{float: right;}

#main_menu li {float: left;}
#main_menu li a{display: block; padding: 20px; line-height:50px; color:#615B5A;
font-weight:bold;}
#main_menu li:hover {background: #FFEED3;}


/* toggleMenu영역 */
#headerTop .toggle {width:48px; height: 48px;position: absolute;  display: none;border-radius:25px;
  background:#EABB47;top: 16px;left:5%;}
#headerTop .toggleMenu { width:48px; height: 48px;display: flex; justify-content: center;align-items: center;}
#headerTop .toggleMenu div {width: 23px;height:3px;border-radius:3px;position: absolute;
  left:50%; transform:translateX(-50%);background:#fff; transition:0.3s;}

#headerTop .toggleMenu .bar1{top:11px;}
#headerTop .toggleMenu .bar2{top:22px;}
#headerTop .toggleMenu .bar3{top:33px;}

/* toggleMenu2영역 */
#headerTop .toggle2 {width:48px; height: 48px; float: right;
position: relative; display: flex; justify-content: center;align-items: center; display: none;
top: 16px;right:5%;
border-radius:25px; background:#CE3E3E;}
#headerTop .toggleMenu2 >p{font-size: 12px; color:#fff;display: flex; justify-content: center;align-items: center;
padding-top: 8px; }





/* slider영역 */
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:0 none;
    margin-bottom: 0;}
.bx-wrapper .bx-pager.bx-default-pager a {background: #fff;}
.bx-wrapper .bx-pager.bx-default-pager a.active{background: #FFB500;}
.bx-wrapper .bx-pager {bottom:30px;}
.bx-wrapper .bx-prev ,.bx-wrapper .bx-next {display:none;}

.prev-btn, .next-btn {position: absolute; top:380px; cursor:pointer;}
.prev-btn {left:16px;}
.next-btn {right: 16px;}


.slider li img{width:100%;}
.sliderWrap li.slider1st,
.sliderWrap li.slider2st,
.sliderWrap li.slider3st
 {background-repeat:no-repeat;
background-position:center; background-size:cover ; height: 871px;}

.sliderWrap li.slider1st {background-image: url(../images/slider.png);}
.sliderWrap li.slider2st {background-image: url(../images/slider.png);}
.sliderWrap li.slider3st {background-image: url(../images/slider.png);}

.sliderWrap .slider_text {position: absolute;left: 30%; top: 15%;
         transform:translateX(-50%); color:#fff; text-align:center;}
.sliderWrap .slider_text h3 {color:#542623;font-size:45px;font-weight:bold}
.sliderWrap .slider_text .p1 {color:#FFEED3; font-size:22px; font-weight:bold;
text-shadow: 0 0 2px #000;}
.sliderWrap .slider_text .p2 {color:#542623; font-size:18px; font-weight:100;
text-shadow: 0 0 2px #fff;}


.slider_text{border: 1px solid #FDDD8C; width: 360px; height: 225px; padding:10px;}


/* content영역 */
.content .contList{width:1240px; margin: 0 auto;
                  display: flex;flex-wrap:wrap;
                  position: relative;}/* 넘치지않고 영역에 맞춰 고정되는것 */
.content .contList>li {width: 25%; height: 310px; position: relative;}
.content .contList>li a {font-size:24px; color:#542623;font-weight: bold;}
.content .contList>li p {font-size:16px; color:#C95353; border-bottom: 1px solid #c95353; width:50px;
padding-top:13px; cursor:pointer;}
.content .contList>li .icon{position:absolute; left:10px; bottom:0;}
.content .contList>li .icon2{position:absolute; right:10px; bottom:0;}

.content .contList>li .number {border-bottom:none; color:#E04B31; font-size:22px; font-weight:bold;}

.content .contList>li:nth-child(1){background: #FCD9A6; padding:60px 30px;}
.content .contList>li:nth-child(2){background: #FCD9A6; padding:20px 3px; }
.content .contList>li:nth-child(3){background: #FCD9A6; padding:20px 3px}
.content .contList>li:nth-child(4){background: #FFD5CC; padding-top:60px; padding-left:160px;}
.content .contList>li:nth-child(5){background: #FCA85B; padding:60px 30px;}
.content .contList>li:nth-child(6){background: #FCA85B;width:50%; padding:20px 3px}
.content .contList>li:nth-child(7){background: #A0CD8A;padding-top:60px; padding-left:140px;}




/* new영역 */
.new{width: 100%; height: 570px; background: #F5EEDB;}
.new1 {width:1240px;margin:0 auto;}
.new1 a{margin-right:6px; display: block; width:calc((100% - 18px) / 4);float: left;}
.new1 a:last-child{margin-right:0px;}
.new1 img{width:100%}
.new1 h4{font-size:24px; color:#212121; text-align:center; line-height:40px; padding-top:52px;}
.new1 p {color:#615B5A; text-align:center; line-height:40px; margin-bottom:30px;}

/* blog영역 */
.blog{width: 100%; height: 570px;}
.blog1 {width:1240px;margin:0 auto;}
.blog1 a{margin-right:6px;display: block; width:calc((100% - 18px) / 4);float: left;}
.blog1 a:last-child{margin-right:0px;}
.blog1 img{width: 100%;}
.blog1 a:last-child{margin-right:0px;}
.blog1 h4{font-size:24px; color:#212121; text-align:center; line-height:40px; padding-top:52px;}
.blog1 p {color:#615B5A; text-align:center; line-height:40px; margin-bottom:30px;}
.blog1 .more {display: none; font-size:14px; color:#EE9510; font-weight: bold;}







/* container */
.container{
  height: 700px;background:#aaa url(../images/brand_main.png) no-repeat center fixed;
  background-size:cover; color:#fff; padding:70px 0; margin-bottom: 80px;}
.container .section{width: 1240px;margin: 0 auto}
.container .section>h4{text-align:center;font-size:2rem;margin-bottom: 100px;}
.container .section li{
  float: left;width:calc( ( 100% - 60px ) / 4 );
  height: 380px;padding-top:40px;border-radius: 10px;transition:0.3s;cursor:pointer
}
.container .section li + li{margin-left:20px;}
.container .section li:hover{
  box-shadow:8px 8px 10px rgba(0,0,0,0.5);transform:translate(-10px,-10px)
}
.container .section li img{display: block;margin: 0 auto}
.container .section .card_body{padding: 30px 40px;}
.container .section .card_body h3{margin-bottom: 20px; text-align:center;}
.container .section .card_body>p{font-size:14px;}
.container .section  .h3 {display: none; font-size:16px;}
.sbox img,
.sbox p{display: none;}

/* seacrh영역 */
.search {width: 100%; margin-bottom: 80px;}
.search1 {width: 1240px; height: 310px; margin: 0 auto; border: 1px solid #DDD; position: relative;}
.search .search1 .shop {width:620px;height:100%; padding: 74px 40px;}
.search .search1 .shop .look {width: 540px; height: 160px;
margin: 0 auto; position: relative;}
.search .search1 .shop .look>h4 {font-size:22px; color:#212121; margin-bottom: 16px;}
.search .search1 .shop .look>p {font-size:14px; color:#212121; margin-bottom: 16px;}
.search .search1 .shop .look img{width: 160px; height: 160px; position: absolute;
right: 0; top:0}
.search .search1 .shop .look .box1 {width: 300px; height: 48px; border: 1px solid #c4c4c4;}
.search .search1 .shop .look .box2 {width: 48px; height: 48px; background: #E14B32;position: absolute; right:193px;
top:79px}
.search .search1 .shop .look .box2 img {width: 24px; height: 24px; position: absolute; top:12px; left:12px; }

.search .search1 .shop2 {width:620px;height:100%; padding: 74px 40px; position: absolute; top:0; left:620px;}

.search .search1 .shop2 .good>h4 {font-size:22px; color:#212121; margin-bottom: 16px;}
.search .search1 .shop2 .good>p {font-size:14px; color:#212121; margin-bottom: 16px;}
.search .search1 .shop2 .good img{width: 160px; height: 160px; position: absolute;
right: 10px; top:70px}



/* footer영역 */
footer{width: 100%;margin-bottom: 20px;}
.footer {width: 1240px; margin: 0 auto;  position: relative;}
.footer ul {position: absolute; top:15%; left:20%;}
.footer ul li  {float: left; margin-right:78px;}
.footer ul li:last-child  {margin-right:0}
.footer ul li a {color:#212121; display: block; font-size:16px;}

.footer .p{color:#989898; font-size:14px; position: absolute; top:50%; left:20%;}
.footer .fimg img {width:105px; height: 136px;}


/* sub페이지 */

.sub1 img {width: 100%;}
.nav{width: 1240px; margin: 0 auto;background: #EF895E; height: 60px;
  border-radius: 20px; position: relative; top:-30px}
.nav ul li{float: left; width:calc((1240px - 340px) / 5);}
.nav ul li{margin-right:85px;}
.nav ul li:last-child{margin-right:0;}
.nav ul li a{display: block; text-align:center; line-height: 60px;
  font-size:16px; color:#fff; font-weight: bold;}
.nav .point a{color:#AB1D1D;}
.slogo{display: none;}

.sMenu{width:400px; margin:78px 350px}
.sMenu ul li{float: left;}
.sMenu ul li a{display: block; text-align:center; line-height:40px;
  font-size:13px; color:#212121;}
.sMenu .sPoint a {color:#F94F4F;}

.line{border-bottom: 1px solid #E5E5E5; width: 100%; margin-bottom: 30px;}

.content{margin: 0 auto; width: 1240px;}
.subI{margin: 0 auto; width: 1240px;margin-bottom: 78px;}
.msub{display: none; }






/*  */
