@charset "utf-8";

/*header*/
#header{background:#0044af;}
.top{width:1200px; margin:0 auto; position: relative; margin-bottom:37px;}
.top1st li {float:left; display:inline-block; width: 120px; text-align:center;padding:12px;}
.top1st li:nth-child(1) {background: #fff;}
.top1st li:nth-child(2) {margin-left:2px; margin-right:2px; background: #00163b;}
.top1st li:nth-child(3) {background: #00163b;}
.top1st li a {color:#fff;}
.top1st li:first-child a {color:#383636;}


.top2st {position: absolute; right:0;}
.top2st li{display:inline-block; padding:10px;}
.top2st li a {color:#fff;}
.top2st li a img {width:16px; height:16px;}

.logo{width:1200px; margin:0 auto;}
.logo img{float:left; width:210px; margin-right:234px;}

.menu{float:left; margin:0 auto;}
.sub_menu li {float:left; display:inline; padding:20px; text-align:center;}

.menu .sub_menu img {width:90px; height:45px;}



  

/*cnotents*/

#contents {height:1300px; background-image: url(../images/bg_dot.gif),                                         url(../images/main_bg.jpg);
            background-repeat:repeat,no-repeat; background-position:center;
            background-size:auto,cover; padding:100px 0;}
#contents .titleWrap{width:1200px; height: 260px;  margin:0 auto; margin-bottom:50px;}

.title h1, p{ color:#fff;}
.title h1 {font-size:50px;}
.title p {font-size:35px;}

.content{width:1200px;}
.content ul li {float:left;}
.content ul li a {color:#fff; display:block;}
.content ul li img {width:92px; height:92px;}







#contents .container {width:1200px; margin:0 auto; background: #fff;}
#contents .container>ul>li{float:left; width:25%; height: 225px;}
#contents .container>ul>li:nth-child(2n){background: pink;}
#contents .container>ul>li:nth-child(1){width:75%; height: 450px; background: gray;}
#contents .container>ul>li:nth-child(2){height: 450px;}
#contents .container>ul>li:nth-child(3){}
#contents .container>ul>li:nth-child(4){}
#contents .container>ul>li:nth-child(5){}
#contents .container>ul>li:nth-child(6){background: red;}
#contents .container>ul>li:nth-child(7){}
#contents .container>ul>li:nth-child(8){width:75%;}